<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall</title>
</head>
<body>
    <h2>Register</h2>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{% if message.tags %} {{ message }} {% endif %}</li>
        {% endfor %}
    {% endif %}
    <form action ="/register" method="POST">
    {% csrf_token %}
        <label for ="fname">First name</label>
        <input type ="text" name="fname">
        <p><label for ="lname">Last name</label>
        <input type ="text" name="lname"></p>
        <p><label for ="email">Email</label>
        <input type ="text" name="email"></p>
        <p><label for ="username">Username</label>
        <input type ="text" name="username"></p>
        <p><label for ="password">Password</label>
        <input type ="text" name="password"></p>
        <p><label for ="confirm">Confirm password</label>
        <input type ="text" name="confirm"></p>
        <button>Register</button>
    </form>
    <h2>Login</h2>
    <form action ="/login" method="POST">
        {% csrf_token %}
        <label for ="logusername">Username</label>
        <input type ="text" name="logusername">
        <p><label for ="logpassword">Password</label>
        <input type ="text" name="logpassword"></p>
        <button>Login</button>
    </form>
</body>
</html>